.wrapper{
	background-color: gold;
	max-width: 700px;
	margin: 40px auto;
	padding: 40px;
	font-family: courier;
}

body{
	background-color: turquoise;
}

label{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 16px;
}

p{
	padding:5px;
}
/*label:after {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
 		border-radius: 8px;
}*/

/*input[type=radio]:checked + label:after {
    content: "";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
*/
input[type=radio]{
	display: none;
}

input[type="radio"] + label .fake-button{
	position:absolute;
	 width:30px;
	 height:30px;
	 margin:-1px 4px 0 0;
	 vertical-align:middle;
	 cursor:pointer;
	 -moz-border-radius:  50%;
	 border-radius:  50%;
	 background-color: whitesmoke;
}

input[type="radio"]:checked + label .fake-button-john{
 background-image:url("../img/radio-buttons/lennon.gif");
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;

 }

input[type="radio"]:checked + label .fake-button-paul {
	background-image:url("../img/radio-buttons/mccartney.gif");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

input[type="radio"]:checked + label .fake-button-starr{
	background-image:url("../img/radio-buttons/ringo.gif");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

}

input[type="radio"]:checked + label .fake-button-george {
	background-image:url("../img/radio-buttons/harrison.gif");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}





form{
	margin:20px;
}



button{
	text-align: center;
	width: 100px;
	height:25px;
	font-size: 90%;
  border: solid 1px #373a3c;
  background-color: turquoise;
  color: #373a3c;
}

.find-out{
	float:right
}


a:link{
	text-decoration: none;
	color: #373a3c;
}

a:visited{
	text-decoration:none;
	color:#373a3c;
}

a:hover{
	color: deeppink;
	text-decoration: none;
}

h1{
	text-align: center;
	margin: 10px 0;
}

h2{
	font-size: 130%;
	text-align: center;
}

h4{
	text-align: center;
}



/*modal styles*/


.modal-body{
	background-color: turquoise;
	color: #373a3c;
}


.modal-header, .modal-footer{
	background-color: deeppink;
	color: gold;
	font-weight: 900;
}

.modal-content{
	border: solid gold 1px;
}
